
// Grid
body {
	margin: 40px;
}

h1 {
	font-size: 200%;
}

day {
	background-color: green;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	// inner shadow
	-moz-box-shadow:    inset 0 0 2px #fed8b1;
	-webkit-box-shadow: inset 0 0 2px #fed8b1;
	box-shadow:         inset 0 0 2px #fed8b1;
}

minute {
	background-color: #444;
	color: #fff;
	border-radius: 1mm;
	padding: 3mm;
	// inner shadow
	// -moz-box-shadow:    inset 0 0 2px #fed8b1;
	// -webkit-box-shadow: inset 0 0 2px #fed8b1;
	// box-shadow:         inset 0 0 2px #fed8b1;
}

.this_minute {
	background-color: #ccc;
	color: #000;
	animation: fadeIn 1s infinite alternate;
}

.passed {
	background-color: orange;
}

.time {
	font-weight: bold;
}

clockbox {
	width: 204mm;
	display: grid;
	grid-gap: 1mm;
	grid-template-columns: repeat(30, 6mm);
}

@keyframes fadeIn { 
	from { opacity: 0; } 
}
