<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "tbc" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
      <nav>
        <h1>tbc.</h1>
      </nav>
    </header>
    <content>
      <%= yield %>
    </content>
    <footer>
    </footer>
    <script>
      (function(d,b,a,s,e){ var t = b.createElement(a),
        fs = b.getElementsByTagName(a)[0]; t.async=1; t.id=e; t.src=s;
        fs.parentNode.insertBefore(t, fs); })
      (window,document,'script','https://tag.demandbase.com/f5366d8225f54e0b.min.js','demandbase_js_lib');  
    </script>
  </body>
</html>
