---
title: Welcome to Middleman
---
<h1>time.</h1>
<h3 id="current_date">Time:</h3>

<p>8AM</p>
<clockbox>
<% counter = 0 %>
<% hours.zip(minutes).each do |hr, min| %>
  <minute 
    class= "<%= "hr#{hr}" %> <%= "min#{min}" %>" 
    id="<%= "block#{counter += 1}" %>">
  </minute>
<% end %>
</clockbox>
<p>8PM</p>
