---
title: tbc.
---
<h2>⌐■-■</h2>

<h3 class="time">8 AM</h3>
<clockbox>
<% counter = 0 %>
<% hours.zip(minutes).each do |hr, min| %>
  <minute 
    class= "<%= "hr#{hr}" %> <%= "min#{min}" %>" 
    id="<%= "block#{counter += 1}" %>">
  </minute>
<% end %>
</clockbox>
<h3 class="time">8 PM</h3>
