---
title: Welcome to Middleman
---

<h1>
  time.. ..  . . ..    .
</h1>

<clockbox>
<% hours.zip(minutes).each do |hr, min| %>
  <minute class="<%= "hr#{hr}" %> <%= "min#{min}" %>"></minute>
<% end %>
</clockbox>
