---
title: Welcome to Middleman
---
<h1>time.</h1>
<h3 id="current_date">Time:</h3>

<clockbox>
<% hours.zip(minutes).each do |hr, min| %>
  <minute class="<%= "hr#{hr}" %> <%= "min#{min}" %>"></minute>
<% end %>
</clockbox>
